* {
  box-sizing: border-box;
  font-family: "Kdam Thmor Pro", sans-serif;
  max-width: 375px;
}
:root {
  --basecolor: #262626;
  --color2: #8c3908;
  --color3: #f2f2f2;
  font-family: "Kdam Thmor Pro", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--basecolor);
}
article {
  border: 5px solid var(--color2);
  color: #f2f2f2;
}
h1 {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  background-color: var(--color2);
  color: #f2f2f2;
}
h2 {
  font-size: 25px;
  padding: 0%;
  position: absolute;
  top: 90px;
  left: 25px;
}
div {
  position: absolute;
  left: 50px;
  top: 200px;
}
.show__btn {
  top: 40px;
  left: 20px;
}
