.navigation {
  display: flex;
  position: fixed;
  align-content: center;
  gap: 15px;
  bottom: 0;
  width: 375px;
}
.navigation {
  text-decoration: none;
  list-style: none;
  font-size: 17px;
  background-color: var(--color2);
}
.white__icon {
}
