.notes {
  max-width: 400px;
  background-color: #f24405;
  border-radius: 10px;
  padding: 50px;
  display: grid;
  position: relative;
}
.create__title {
  padding-bottom: 10px;
}
#submit {
  font-size: 14px;
  background-color: #262626;
  color: white;
  padding: 7px;
  border-radius: 5px;
}
.text {
  display: flex;
  margin-bottom: 30px;
  border: white;
  max-width: 300px;
}
