.profile {
  max-width: 400px;
  background-color: #f24405;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  position: relative;
}
.profile__text {
  padding-top: 25px;
  max-width: 75%;
}
#logout {
  position: absolute;
  top: 200px;
  right: 30px;
  display: flex;
  font-size: 14px;
  background-color: #262626;

  color: white;
  padding: 12px;
  border-radius: 50px;
}
